@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "tailwindcss-animated";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  --success: var(--color-green-500);
  --success-foreground: var(--color-green-600);
  --warning: var(--color-yellow-500);
  --warning-foreground: var(--color-yellow-600);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-600);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-red-600);

  --background: oklch(0.99 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0 0 0);
  --primary-foreground: oklch(1 0 0);
  --primary-pulse: oklch(0 0 0 / 50%);
  --secondary: oklch(0.94 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.44 0 0);
  --accent: oklch(0.94 0 0);
  --accent-foreground: oklch(0 0 0);

  --border: oklch(0.92 0 0);
  --input: oklch(0.94 0 0);
  --ring: oklch(0 0 0);

  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);

  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.94 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0 0 0);

  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);

  --expo-out: linear(
    0 0%,
    0.1684 2.66%,
    0.3165 5.49%,
    0.446 8.52%,
    0.5581 11.78%,
    0.6535 15.29%,
    0.7341 19.11%,
    0.8011 23.3%,
    0.8557 27.93%,
    0.8962 32.68%,
    0.9283 38.01%,
    0.9529 44.08%,
    0.9711 51.14%,
    0.9833 59.06%,
    0.9915 68.74%,
    1 100%
  );
}

.dark {
  --success: var(--color-green-600);
  --success-foreground: var(--color-green-500);
  --warning: var(--color-yellow-600);
  --warning-foreground: var(--color-yellow-500);
  --info: var(--color-blue-600);
  --info-foreground: var(--color-blue-500);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-red-500);

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --primary-pulse: oklch(0.922 0 0 / 50%);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);

  --sidebar: oklch(0.145 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.922 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

@theme inline {
  --breakpoint-3xl: 112rem; /* 1792px */
  --breakpoint-4xl: 128rem; /* 2048px */
  --breakpoint-5xl: 144rem; /* 2304px */
  --breakpoint-6xl: 160rem; /* 2560px */

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-pulse: var(--primary-pulse);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --animate-skeleton: skeleton 2s -1s infinite linear;
  @keyframes skeleton {
    to {
      background-position: -200% 0;
    }
  }

  --animate-button-pulse: pulse var(--duration) ease-out infinite;
  @keyframes pulse {
    0%,
    100% {
      box-shadow: 0 0 0 0 var(--pulse-color);
    }
    50% {
      box-shadow: 0 0 0 8px var(--pulse-color);
    }
  }

  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }

  --animate-caret-blink: 1s ease-out infinite caret-blink;
  @keyframes caret-blink {
    0%,
    70%,
    to {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  --animate-toast-success-odd: toast-success-odd 0.32s
    cubic-bezier(0.5, 1, 0.89, 1);
  @keyframes toast-success-odd {
    0% {
      scale: 1;
    }
    30% {
      scale: 1.025;
    }
    60% {
      scale: 0.99;
    }
    100% {
      scale: 1;
    }
  }

  --animate-toast-success-even: toast-success-even 0.32s
    cubic-bezier(0.5, 1, 0.89, 1);
  @keyframes toast-error-odd {
    0% {
      translate: 0 0;
    }
    25% {
      translate: -3px 0;
    }
    50% {
      translate: 3px 0;
    }
    75% {
      translate: -3px 0;
    }
    100% {
      translate: 0 0;
    }
  }

  --animate-toast-error-odd: toast-error-odd 0.28s cubic-bezier(0.5, 1, 0.89, 1);
  @keyframes toast-success-even {
    0% {
      scale: 1;
    }
    30% {
      scale: 1.025;
    }
    60% {
      scale: 0.99;
    }
    100% {
      scale: 1;
    }
  }

  --animate-toast-error-even: toast-error-even 0.28s
    cubic-bezier(0.5, 1, 0.89, 1);
  @keyframes toast-error-even {
    0% {
      translate: 0 0;
    }
    25% {
      translate: -3px 0;
    }
    50% {
      translate: 3px 0;
    }
    75% {
      translate: -3px 0;
    }
    100% {
      translate: 0 0;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  :where(
    .animate-toast-success-odd,
    .animate-toast-success-even,
    .animate-toast-error-odd,
    .animate-toast-error-even
  ) {
    animation: none;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }

  @media (width >= 1440px) {
    max-width: 1440px;
  }
}

@layer base {
  html {
    @apply font-sans;
  }

  * {
    @apply border-border outline-ring/50 scroll-smooth;
  }

  body {
    @apply bg-background text-foreground relative overflow-x-hidden antialiased;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-bold tracking-tight text-balance;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-bold tracking-tight;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  h5,
  h6 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight;
  }

  /* p {
    @apply leading-7;
  } */

  b {
    @apply text-foreground font-medium;
  }

  small {
    @apply text-sm leading-tight;
  }

  blockquote {
    @apply border-l-2 pl-4 italic;
  }

  pre {
    @apply font-mono;
  }

  code {
    @apply bg-muted relative rounded px-1.5 py-0.5 font-mono text-sm font-medium;
  }
}

@layer base {
  .label-required {
    @apply after:text-destructive after:content-['*'];
  }

  .link {
    @apply after:bg-primary hover:text-primary relative h-fit cursor-pointer no-underline after:absolute after:-bottom-px after:left-0 after:h-px after:w-full after:origin-bottom-right after:scale-x-0 after:transition-transform after:ease-in-out hover:after:origin-bottom-left hover:after:scale-x-100;
  }

  .link-group {
    @apply after:bg-primary group-hover:text-primary relative h-fit cursor-pointer no-underline after:absolute after:-bottom-px after:left-0 after:h-px after:w-full after:origin-bottom-right after:scale-x-0 after:transition-transform after:ease-in-out group-hover:after:origin-bottom-left group-hover:after:scale-x-100;
  }

  .link-underline {
    @apply text-foreground underline underline-offset-3;
  }

  ::view-transition-group(root) {
    animation-duration: 0.7s;
    animation-timing-function: var(--expo-out);
  }

  ::view-transition-new(root) {
    animation-name: reveal-light;
    animation-fill-mode: both;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: none;
    animation-fill-mode: both;
    z-index: -1;
  }

  .dark::view-transition-new(root) {
    animation-name: reveal-dark;
    animation-fill-mode: both;
  }

  @keyframes reveal-dark {
    from {
      clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
    }
    to {
      clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
    }
  }

  @keyframes reveal-light {
    from {
      clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
    }
    to {
      clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
    }
  }
}
